 body {
	background-image: url(images/programming.png);
	background-size: cover;
	padding: 1px;
	cursor: pointer;
}

header {
	text-align: center;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
	font-size: 25px;
	border: 1px solid white;
	display: block;
	flex-wrap: wrap;
	margin: 3px;
}
header:hover {
	border-radius: 10px;
	background-color: #0000ff4d;
	/*background-color: #fff3;*/
	transition: 3s;
}
article {
	/*justify-content: space-between;*/
	border-left: 5px solid white;
	margin: 20px 30px;
}
section {
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 1px solid white;
	font-weight: bold;
	background-color: #000000e6;
	margin: 0px;
}
li	{
	/*margin: 10px 0px;*/
	text-align: left;
	/*background-color: blue;*/
	font-weight:  italic;
	color: white;
	border-radius: 20px;
	list-style-type: none;
	border-bottom: 1px solid white;
	padding: 10px;
	display: block;
	margin: 20px 2px;
}
li:hover {
	/*background-color: #fff3;*/
	background-color: #0000ff4d;
	transition: 2s;
	color: white;

}
a {
	border:  1px solid white;
	border-radius: 20px;
	font-size: 18px;
	padding: 3px 10px;
	background-color: #0000ff4d;
	/*color: #cec1c1;*/
	color: white;
	
}
a:hover {
	border-right: 1px solid black;
	border-left: 1px solid black;
	/*border-left: 1px solid white;*/

	border-radius: 20px;
	/*background-color: white;*/
	color: white;
	transition: 2s;
}

footer {
	padding: 10px;
	color: white;
	font-weight: bold;
	font-size: 16px;
	border: 1px solid white;
	display: block;
	flex-wrap: wrap;
	margin: 3px;
}

footer:hover {
	background-color: #0000ff4d;
	/*background-color: #fff3;*/
	transition: 3s;
	/*color: black;*/
	border-radius: 10px;
}
footer > span {
	padding: 1px 20px;
	text-align: left;
	display: block;
	justify-content: left;

}
span:nth-child(1) {
	font-size: 30px;
}
div {
	align-items: right;
	justify-content: right;
	text-align: right;
	font-weight: bold;
	margin-right: 15px;
}
div:hover {
	color: red;
	transition: 2s;
}
ul {
	padding: 5px;
}
.arrow {
	padding: 0px 5px 0px 10px;
	font-size: 25px;
	font-weight: bolder;
}