 body {
	background-image: url(../images/programming.png);
	background-size: cover;
	padding: 1px;
	cursor: pointer;
	color: white;
}
section {
	padding: 10px;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 1px solid white;
	font-weight: bold;
	background-color: #0009;
	margin: 0px;
}
div {
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: white;
	color: black;
	height: 110px;
	font-size: 30px;

}

input {
	margin: 10px;
	border-radius: 3px;
	font-size: 15px;
}