 body {
	background-image: url(../images/programming.png);
	background-size: cover;
	padding: 1px;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	text-align: center;
}

section {
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 1px solid white;
	font-weight: bold;
	background-color: #0009;
	margin: 0px;
	color: white;
}
input {
	border-radius: 3px;
	font-size: 15px;
}
div {
	margin: 10px;
	display: block;
	font-size: 30px;
	align-items: center;
	justify-content: center;
	text-align: center;
}
button {
	padding: 3px 10px;
	font-size: 30px;
	border: 2px solid black;
	border-radius: 3px;
}

.my-div {
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: white;
	color: black;
	height: 70px;

}