body {
	text-align: center;
	justify-content: center;
	align-items: center;
}
h1	{
	font-weight: bold;
	font-size: 20px;
}
button {
	margin: 6px;
	font-size: 16px;
	padding: 5px 10px;
	border: 2px solid black;
	border-radius: 20px;
}
input {
	padding: 3px;
	font-size: 17px;
	border: 2px solid black;
	border-radius: 5px;
}